* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Basic reset */
body, h1, p, a {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(199, 191, 179);
    text-align: center;
}

/* Header styling */
header {
        text-align: center;
        background: rgb(41, 29, 5);
        background-size: cover;
        color: rgb(255, 255, 255);
        background-size: cover;
        padding: 25px;
        font-size: larger;
        height: 150px;
}

/* Navigation styling */
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 30px;
    padding: 90px 0 90px;
}

/* Main section styling */
main {
    margin: 20px 20px 20px 20px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    justify-items: center;
    align-items: center;
}
img {
    margin: 80px 20px 20px 20px;
    width: 40%;
    height: 40%;
    margin-bottom: 60px;
    justify-content: center;
}
/* Footer styling */
footer {
    background: rgb(41, 29, 5);
    color: white;
    padding: 20px 10px 20px 10px;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}
